* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: aquamarine;
  }
   
   
  h1 {
    color: SeaGreen;
    text-align: center;
    font-family: Georgia;
    font-size: 100px;
  }
   
   
  
  li {
    font-size: 18px;
    text-align: center;
    border: 5px solid green;
    margin: 30px;
  }
   
   
  a {
    text-decoration: none;
  }


  .Picture{
    width: 500px;
    height: 500px;
  }
